html, body{
  height:  100%;
  width: 100%
}


  .background-container {
    background: url('MH---Background-image---2560X1477.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.right-square, .left-square {
  width: 350px;
  height: 350px;
  font-weight: 600;

}
.left-square {
  background-color: transparent;
}

.box1{
  width: 100%;
  height:  100%;
}

.box2 {
  position:  absolute;
  width: 350px;
  height: 350px;
  opacity: 1;
  z-index: 0;
}

.contact, .location-info , .telephone-info, .email-info {
  position:  relative;
  z-index: 1
}
.right-square {
  margin-top: 12%;
}

.contact {
  font-size:  1.5rem;
  color:  rgb(8,40,92);
  letter-spacing: 2px;
  margin-left: 7%;
  font-family: 'Lora', sans-serif;
  border-bottom:  3px solid;
  margin-right: 7%;
  padding-top: 3%;
}

.location-btn  {
  width: 50px;
  margin-top: -15%;
}

.location-info, .email-info {
  margin-top: 8%;
}
.number-info{
  line-height: 19px;
  margin-top: 8%;
}
.phone-btn {
  margin-top: -5%;
}

.phone-btn, .email-btn, .location-btn {
  margin-left: 7%;
 }

.location-address , .number-info , .email-name {
  display: -webkit-inline-box;
  margin-left: 7%;
}

.location-address {
  line-height: 18px;
}

.email-contact {
  color:  rgb(8,40,92);
  text-decoration: underline;
}
.phone-btn , .email-btn {
  width: 50px;
}

.square-row{
  margin-top: 4%;
  font-family: 'Roboto', sans-serif;
}
.mh-logo {
  max-width: 500px;
  width: 100%;
  margin-top: 3%;
}

.mh-logo-container {
  margin-left: auto;
  margin-right: auto;
}

.left-sq-col {
  text-align: -webkit-right;
  padding-right: 0;
  padding-left: 0;
}

.right-sq-col {
  padding-right: 0;
  padding-left: 0;
}

footer {
  position:  absolute;
  width:  100%;
  bottom:  0;
  left:  0;
}
.copyright-text {
  color:  white;
  font-family: 'Lora', sans-serif;
  text-align: -webkit-center;
}

.blue-line{
  height:  3px;
  background-color: rgb(8,40,92);
}



/* iphone6 plus portrait */
@media(min-width: 400px) and (max-width: 600px) {
 .container-fluid {
  min-height: 750px;
  }
  .mh-logo-container{
    margin-top: 5%;
    width: 80%;
    margin-bottom: 10%;
  }
  .left-sq-col {
    text-align: -webkit-center;
  }
  .box1, .box2 {
    width:  315px;
    height:  315px;
  }
  .right-square{
    margin-left: 12%;
    margin-right: auto;
    margin-top: 3%;
  }
  .contact{
    margin-right: 17%;
  }
  .right-sq-col{
    padding-bottom: 15%;
  }

}

@media(min-width: 321px) and (max-width: 399px) {
 .container-fluid {
  min-height: 750px;
  width:  105%;
  }
  .mh-logo-container{
    margin-top: 5%;
    width: 80%;
    margin-bottom: 10%;
  }
  .left-sq-col {
    text-align: -webkit-center;
  }
  .box1, .box2 {
    width:  315px;
    height:  315px;
  }
  .right-square{
    margin-left: 8%;
    margin-right: auto;
    margin-top: 3%;
  }
  .contact{
    margin-right: 17%;
  }
   .right-sq-col{
    padding-bottom: 15%;
  }

}

/* iphone5 */
@media(min-width: 200px) and (max-width: 320px) {
 .container-fluid {
   width: 120%;
  }
  .mh-logo-container{
    margin-top: 5%;
    width: 80%;
    margin-bottom: 10%;
  }
  .left-sq-col {
    text-align: -webkit-center;
  }
  .box1, .box2 {
    width:  315px;
    height:  315px;
  }
  .right-square{
    margin-left: 8%;
    margin-right: auto;
    margin-top: 3%;
  }
  .contact{
    margin-right: 17%;
  }
   .right-sq-col{
    padding-bottom: 15%;
  }
}

 /*landscape mobile views */

/*iphone 5 landscape */
@media only screen
  and (min-width: 320px)
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .container-fluid {
   min-height: 750px;
   }
   .mh-logo-container{
     margin-top: 5%;
     width: 80%;
     margin-bottom: 5%;
      text-align: -webkit-center;
   }
   .left-sq-col {
     text-align: -webkit-center;
   }
   .box1, .box2 {
     width:  315px;
     height:  315px;
   }
   .right-square{
     margin-left: 127px;
     margin-right: auto;
     margin-top: 1%;
   }
   .mh-logo{
     max-width: 400px;
   }
   .contact{
     margin-right: 17%;
   }
     .right-sq-col{
    padding-bottom: 15%;
  }

}


/*iphone 6 landscape */
@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .container-fluid {
   min-height: 750px;
   }
   .mh-logo-container{
     margin-top: 5%;
     width: 80%;
     margin-bottom: 5%;
      text-align: -webkit-center;
   }
   .left-sq-col {
     text-align: -webkit-center;
   }
   .box1, .box2 {
     width:  315px;
     height:  315px;
   }
   .right-square{
     margin-left: 175px;
     margin-right: auto;
     margin-top: 1%;
   }
   .mh-logo{
     max-width: 400px;
   }
   .contact{
     margin-right: 17%;
   }
     .right-sq-col{
    padding-bottom: 15%;
  }

}

/*iphone6plus landscape*/
@media only screen
  and (min-width: 412px)
  and (max-width: 732px)

  and (orientation: landscape) {
  .container-fluid {
   min-height: 750px;
   }
   .mh-logo-container{
     margin-top: 5%;
     width: 80%;
     margin-bottom: 5%;
      text-align: -webkit-center;
   }
   .left-sq-col {
     text-align: -webkit-center;
   }
   .box1, .box2 {
     width:  315px;
     height:  315px;
   }
   .right-square{
     margin-left: 29%;
     margin-right: auto;
     margin-top: 1%;
   }
   .mh-logo{
     max-width: 400px;
   }
   .contact{
     margin-right: 17%;
   }
     .right-sq-col{
    padding-bottom: 15%;
  }

}

/*iphone6plus landscape*/
@media only screen
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .container-fluid {
   min-height: 750px;
   }
   .mh-logo-container{
     margin-top: 5%;
     width: 80%;
     margin-bottom: 5%;
      text-align: -webkit-center;
   }
   .left-sq-col {
     text-align: -webkit-center;
   }
   .box1, .box2 {
     width:  315px;
     height:  315px;
   }
   .right-square{
     margin-left: 29%;
     margin-right: auto;
     margin-top: 1%;
   }
   .mh-logo{
     max-width: 400px;
   }
   .contact{
     margin-right: 17%;
   }

     .right-sq-col{
    padding-bottom: 15%;
  }

}




@media(min-width: 750px) {
 .container-fluid {
  min-height: 1024px;
  }

}


@media(min-width: 751px) and (max-width: 993px) {
  .left-sq-col, .right-sq-col {
    width: 48%;
    text-align: -webkit-auto;
  }
  .square-row{
    margin-top: 15%;
    margin-left: 3%;
  }

  }

@media(min-width: 1024px) and (max-width: 1400px){
  .background-container {
    min-height: 780px;
  }
}


/* ipad pro portrait */

@media only screen
  and (min-width: 1000px)
  and (max-height: 1400px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
      .background-container {
    min-height: 1368px;
  }
    .square-row{
      margin-top: 20%;
    }

}


@media (min-width: 1364px) and (min-height: 1020px) {
  .background-container{
    min-height: 1024px;
  }
  .square-row{
    margin-top: 10%;
  }
}
